//- 
  Name: Philip Sijerkovic
  Date: 2/28/2025
  CSC 372-01

  This is the cart.pug file for Phil's Fish Market, this is where the user can view their cart.

doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Cart - Phil's Fish Market
    link(rel="stylesheet", href="styles.css")
    link(rel="icon", href="images/4469206.png", type="image/x-icon")
    script(src="cart.js", defer)
  
  body
    header
      h1 Phil's Fish Market
      .nav-container
        nav
          ul.nav-bar
            li
              a(href="/") Home
            li
              a(href="products") Products
            li
              a(href="cart") Cart
            li
              a(href="admin-upload") Admin View
      
      .search-bar-container
        input(type="text", placeholder="Search...")
        button(type="button")
          img(src="images/image.png", alt="Search Icon")
    
    main
      section.cart
        h2 Your Shopping Cart

        if cartItems && cartItems.length
          each item in cartItems
            .cart-item
              img(src=item.products_image_url, alt=item.products_name)
              .cart-item-info
                h3 #{item.products_name}
                p.price $#{item.products_price.toFixed(2)}
                .quantity
                  button.quantity-btn(onclick="decreaseQuantity(this)") -
                  input.quantity-input(type="number", value=item.quantity)
                  button.quantity-btn(onclick="increaseQuantity(this)") +
                p.total Total: $#{(item.products_price * item.quantity).toFixed(2)}
                button(onclick="removeItem(this)") Remove
        else
          p Your cart is empty.

        .cart-total
          if cartItems && cartItems.length
            h3 Total:
            p#total-price $#{cartItems.reduce((total, item) => total + item.products_price * item.quantity, 0).toFixed(2)} + delivery fees
            button.checkout-button Checkout
          else
            p Add some items to your cart to see the total.

    footer
      p 2025 Phil's Fish Market. All rights reserved.
      p Contact us: contact@philsfishmarket.com