doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Search Results - Phil's Fish Market
    link(rel="stylesheet", href="/styles.css")
    link(rel="icon", href="images/4469206.png", type="image/x-icon")
    script(src="/cart.js", defer)
  body
    header
      h1 Phil's Fish Market
      .nav-container
        nav
          ul.nav-bar
            li
              a(href="/") Home
            li
              a(href="products") Products
            li
              a(href="cart") Cart
            li
              a(href="admin-upload") Admin View
      .search-bar-container
        form#search-form(action="/product-search", method="GET")
          input#search-input(type="text", name="q", placeholder="Search...", value=searchTerm)
          button(type="submit")
            img(src="images/image.png", alt="Search Icon")
    main
      section.grid-container
        if products && products.length
          each product in products
            .grid-item
              img(src=product.products_image_url, alt=product.products_name)
              h3
                a(href=`/details/${product.products_id}`) #{product.products_name}
              p $#{product.products_price}
              button.add-to-cart-btn(data-product-id=product.products_id) Add to Cart
        else
          p No products found for "#{searchTerm}".
    footer
      p 2025 Phil's Fish Market. All rights reserved.
      p Contact us: contact@philsfishmarket.com