doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Admin Products - Phil's Fish Market
    link(rel="stylesheet", href="styles.css")
    link(rel="stylesheet", href="admin.css")
    link(rel="icon", href="images/4469206.png", type="image/x-icon")
    script(src="admin-products.js", defer)
  
  body
    header
      h1 Phil's Fish Market
      .nav-container
        nav
          ul.nav-bar
            li
              a(href="/") Home
            li
              a(href="admin-upload") Upload
            li
              a(href="admin-products") Products
            li
              a(href="product-edit") Product-Edit
      
      .search-bar-container
        input(type="text", placeholder="Search...")
        button(type="button")
          img(src="images/image.png", alt="Search Icon")
    
    main
      section.products
        .search-bar-container
          input(type="text", placeholder="Search...")
          button(type="button")
            img(src="images/image.png", alt="Search Icon")
        
        h2 Product Edit
        
        if products && products.length
          each product in products
            .product(data-product-id=product.products_id)
              img(src='/' + product.products_image_url, alt=product.products_name)
              .product-info
                p Product ID: 
                  strong #{product.products_id}
                h3
                  input(type="text", value=product.products_name)
                p
                  textarea= product.products_description
                p Category: 
                  input(type="text", value=product.products_category_id)
                p Image Path: 
                  input(type="text", value=product.products_image_url)
                p Price:
                  input.price-input(type="number", value=product.products_price, step="0.01")
                p Featured:
                  input.featured-input(type="checkbox", checked=product.featured)
                button.save-btn Save
                button.delete-btn Delete
        else
          p No products found.

    footer
      p 2025 Phil's Fish Market. All rights reserved.
      p Contact us: contact@philsfishmarket.com